body,
h1,
p,
fieldset,
ul,
h2,
td,
th,
h3,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: 0;
  color: inherit;
}

body {
  min-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  width: 90vw;
  margin: auto;
}

.status {
  margin: 10px 0 10px 0;
}

.header {
  /* background-color: skyblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  border-bottom: 1px solid #ddd;
}

.viewheader {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  border-top: 2px solid black;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.viewheader h2 {
  margin-top: 10px;
}

.viewheader2 {
  display: flex;
  margin-bottom: 20px;
}

.viewheader2 p {
  margin-top: 10px;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #aaa;
}
.main > h3 {
  margin-top: 50px;
  margin-bottom: 10px;
}

.header-click a,
.header-click button {
  padding: 10px 15px;
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.header-click button {
  font: inherit;
  border: 0;
  background: none;
}

.footer {
  background: #eee;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}

.container {
  width: 400px;
  margin: 40px auto;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 20px 0;
}

.login > div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.label-width {
  display: inline-block;
  width: 90px;
}

[type="text"],
[type="password"],
[type="email"] {
  width: 300px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
[type="checkbox"],
[type="radio"] {
  /* margin-left: 8px; */
}

.submit-button {
  width: 100%;
  height: 40px;
  background-color: royalblue;
  border: 0;
  border-right: 2px solid rgb(23, 37, 80);
  border-bottom: 2px solid rgb(23, 37, 80);
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.submit-button:active {
  border: 0;
  margin-top: 21px;
}

.field {
  border: 0;
  margin: 10px 0;
}

.field ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.field legend {
  float: left;
  width: 90px;
}

/* 선택된 체크박스 두껍게 */
[type="checkbox"]:checked + label {
  font-weight: bold;
}
[type="radio"]:checked + label {
  font-weight: bold;
}
/* 비활성화된 버튼 회색으로 */
.submit-button:disabled {
  background-color: #ccc;
}
/* placeholder의 색상을 빨간색으로 */
[type="text"]::placeholder {
  color: red;
}
.view-ul,
.view-ol {
  padding-left: 20px;
}

.link {
  margin-top: 30px;
}
.link a {
  color: blue;
}

.table {
  /* 간격삭제 */
  width: 100%;
  border-spacing: 0;
  border-top: 2px solid black;
  border-bottom: 1px solid #ddd;
  /* 테두리 중첩되도 안 두꺼워지게 */
  /* border-collapse: collapse; */
  text-align: center;

  /* 설정한 colgroup값이 있다면 그걸 고정하겠다. */
  table-layout: fixed;
}

.table td.nodata {
  padding: 40px 0;
}

.table th {
  background-color: #eee;
  padding: 8px;
}

.table td {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.w-table {
  /* 간격삭제 */
  width: 100%;
  border-spacing: 0;
  border-top: 2px solid black;
  /* 테두리 중첩되도 안 두꺼워지게 */
  /* border-collapse: collapse; */
  /* 설정한 colgroup값이 있다면 그걸 고정하겠다. */
  table-layout: fixed;
}
.w-table th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 40px;
  background-color: #eee;
}
.w-table td {
  padding-left: 8px;
  border-bottom: 1px solid #ddd;
}

.w-table select {
  width: 200px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.w-table [type="text"] {
  width: 100%;
}

.w-table textarea {
  resize: none;
  margin-top: 5px;
  width: 100%;
  height: 500px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.table a {
  display: block;
  text-align: left;
  padding: 8px 0;
  font-weight: bold;

  /* 너무 길때 말줄임표 만들기(부모 테이블의 table-layout:fixed; 와 같이 사용 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-title {
  margin: 60px 0 10px;
}

.main-desc {
  margin-bottom: 20px;
}

.main-desc2 {
  margin-bottom: 20px;
  color: #aaa;
}

.main-desc strong {
  color: royalblue;
}

.btn-group {
  margin-top: 20px;
  text-align: right;
}

.btn {
  box-sizing: border-box;
  border: inherit;
  font-size: inherit;
  background-color: #eee;
  display: inline-flex;
  width: 80px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
